server:
  port: 8081

spring:
  application:
    name: PAYMENT-SERVICE

eureka:
  instance:
    instance-id: ${spring.application.name}:${server.port}
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/, http://loaclhost:8762/eureka/
    registry-fetch-interval-seconds: 5
