server:
  # Order 서비스가 실행될 포트
  port: 8081

spring:
  application:
    # Consul에 등록될 서비스 이름
    # (다른 서비스가 이 이름으로 Order 서비스를 찾음)
    name: order-service
  config:
    # Spring Cloud Config 방식으로 설정을 Consul로 가져오겠다는 선언
    # 이게 있어야 consul.config.* 설정이 동작함
    import: "consul:"
  cloud:
    consul:
      # Consul 서버(Agent) 주소
      host: localhost
      port: 8500
      config:
        enabled: true
        # Consul Key/Value에 저장된 설정의 포맷
        # application.yml 형식으로 관리
        format: yaml
        # Consul Key/Value에서 실제 설정이 들어있는 Key 이름
        # config/order-service/data
        data-key: data
      discovery:
        # Consul에 등록될 서비스 이름
        # 보통 spring.application.name 그대로 사용
        service-name: ${spring.application.name}
        # 같은 서비스의 여러 인스턴스를 구분하기 위한 ID
        # random.value : 실행할 때마다 다른 값
        instance-id: ${spring.application.name}:${random.value}
